@model IEnumerable<MVC_CodeFirst.Models.Partia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Nazwa) @*Nazwa Partii*@
            </td>
            <td>
                    <table>
                        @{
                            foreach (var elem in item.Poslowie)
                            {
                                <tr><td>@elem.Nazwisko @elem.Wiek</td></tr>
                            }
                        }
                    </table>

            </td>
                                <td>
                    @{
                        var najmlodszy = item.Poslowie.OrderBy(posel => posel.Wiek).First();
                        var najstarszy = item.Poslowie.OrderByDescending(posel => posel.Wiek).First();

                            <td>Najstarszy @najstarszy.Nazwisko @najstarszy.Wiek</td>
                            <td>Najmlodszy @najmlodszy.Nazwisko @najmlodszy.Wiek</td>
                    }
                    </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartiaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartiaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartiaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
