@model IEnumerable<WebApplication1.Models.Miasto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IleMieszkancow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wojewodztwo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IleMieszkancow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wojewodztwo.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MiastoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MiastoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MiastoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
